<!DOCTYPE html>

<head>
    <div th:replace="~{fragments/head :: head}"></div>
</head>
<html>

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <h1>Home Page</h1>

    <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" />
    </form>

    <form th:method=get th:action="@{/client/users}">
        <input type="submit" value="Print users" />
    </form>
    <form th:method=get th:action="@{/client/users/registration}">
        <input type="submit" value="Add user" />
    </form>
    <form th:method=get th:action="@{/client/users/delete}">
        <input type="submit" value="Remove user" />
    </form>
    <form th:method=get th:action="@{/client/users/modify}">
        <input type="submit" value="Modify user" />
    </form>
</body>

</html>